{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('login') }}">
            <i class="fas fa-sign-in-alt"></i>
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Sign Up
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">
            <i class="fas fa-sign-out-alt"></i>
            Log Out
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}

      {%for message in messages %}

      <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close" name="button">
          <span aria-hidden="true">x</span>
        </button>
        {{ message }}
      </div>

      {% endfor%}

      {%endif%}
      {%endwith%}
      <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock content %}
